body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container-fluid {
  padding: 0% 15%;
}

.btn {
  border-radius: 0%;
}

#header {
  color: #f4f4f4;
  background: #111111;
  overflow-x: hidden;
}
#header .navbar {
  padding: 4rem 0 4rem;
}
#header .navbar .navbar-brand {
  font-family: "Ubuntu", "sans-serif";
  font-size: 1.6rem;
}
#header .navbar .nav-link:hover {
  color: #f4f4f4;
}
#header h1 {
  padding-top: 10%;
  font-size: 4.5rem;
  position: relative;
  animation-name: title;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#header img {
  width: 130%;
  position: relative;
  animation-name: image;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#header .btn-header {
  margin: 50px 0 30px 0;
}
#header .navbar-toggler {
  outline: none;
  box-shadow: none;
  border: none;
}

#features {
  background-color: #f4f4f4;
  padding: 7% 0%;
  text-align: center;
  line-height: 1.7;
}
#features .left-border {
  border-style: solid;
  border-width: 2px;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
#features i {
  padding-bottom: 7%;
}
#features ul {
  padding-top: 2%;
  font-size: 1.2rem;
  text-decoration: none;
  list-style-type: none;
}

#testimonials {
  display: flex;
  text-align: center;
  background-color: #111111;
  color: #f4f4f4;
}
#testimonials div {
  margin: 3%;
}
#testimonials img {
  width: 50%;
  border-radius: 2%;
  margin: 1% 1%;
}
#testimonials .desc {
  margin: 5% 0%;
}
#testimonials .desc h1,
#testimonials .desc h2 {
  text-transform: uppercase;
}
#testimonials .desc h2 {
  font-size: 1.4rem;
}
#testimonials .desc h4 {
  font-size: 1.1rem;
}
#testimonials .desc .btn {
  width: 20%;
}
#testimonials .work {
  margin-top: 7%;
  padding-bottom: 14%;
}
#testimonials .work h2 {
  padding-top: 7rem;
}
#testimonials .work h4 {
  padding: 1% 20% 1% 0%;
}
#testimonials .work img {
  float: right;
}
#testimonials .work1 {
  padding-bottom: 10%;
}
#testimonials .work1 h2 {
  padding-top: 7rem;
}
#testimonials .work1 h4 {
  padding: 2% 0 2% 0;
}
#testimonials .work1 img {
  float: left;
}

#Partners {
  background-color: #f4f4f4;
  text-align: center;
  padding: 4% 0%;
}
#Partners img {
  width: 23%;
}
#Partners h2 {
  margin-bottom: 5%;
  font-size: 3.5rem;
  text-transform: uppercase;
}
#Partners h3 {
  margin-top: 7%;
  margin-bottom: 2.5%;
  font-size: 3rem;
}

#cta {
  background-color: #111111;
  color: #f4f4f4;
  padding: 5% 10%;
  text-align: center;
}
#cta i {
  margin: 3% 2%;
}
#cta i:hover {
  color: #d8d8d8;
}

@media (max-width: 1028px) {
  #features {
    padding: 10% 20%;
  }
  #features .left-border {
    border-style: solid;
    border-width: 2px;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  #features i {
    margin-top: 5%;
  }
}
@keyframes title {
  0% {
    left: -700px;
  }
  100% {
    left: 0px;
  }
}
@keyframes image {
  0% {
    left: 700px;
  }
  100% {
    left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
